<!DOCTYPE html>
<html>
  <head>
    <title>Users Table</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Age</th>
          <th>Gender</th>
        </tr>
      </thead>
      <tbody>
        {% for row in users2 %}
          <tr>
            {% for column in row %}
              <td>{{ column }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <img src="{{ url_for('static', filename='scatter.png') }}" alt="Histogram">
    <img src="{{ url_for('static', filename='gender_bar_chart.png') }}" alt="Gender Bar Chart">
  </body>
</html>
